body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #343534;
}
ul, h1, p {
	margin: 0;
	padding: 0;
}
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
#not-supported {
	display: none;
}
.header {
	position: fixed;
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.logo {
	position: absolute;
	display: block;
	margin: 5px 40px;
	float: left;
}
.nav-block {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
.menu {
	display: inline-block;
	height: 40px;
	padding: 5px 0;
	list-style: none;
	overflow: hidden;
}
.menu-item {
	float: left;
	margin: 0 10px;
	font-size: 1.5rem;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	line-height: 40px;
	cursor: pointer;
}
.sign-section {
	max-width: 100%;
	height: 710px;
	background-image: url(http://markedbyme.appspot.com/static/images/screen.png);
	background-size: 100%;
	border-bottom: solid 1px #ECECEC;
	overflow: hidden;
}
.sign-header {
	margin-top: 100px;
	font-family: Roboto, sans-serif;
	font-size: 2.5rem;
	font-weight: 100;
	color: #FFF;
	text-align: center;
}
.sign-up-block {
	max-width: 460px;
	height: 260px;
	margin: 145px auto 10px;
	position: relative;
	background: rgba(255, 255, 255, 0.98);
	border-radius: 4px;
	box-shadow: 0 1px 3px #B8B8B8;
	overflow: hidden;
}
.sign-form {
	position: absolute;
	top: 0;
	padding: 15px 30px;
	font-family: Roboto, sans-serif;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.form-hide-left {
	-webkit-transform: translateX(-110%);
	-ms-transform: translateX(-110%);
	transform: translateX(-110%);
}
.form-hide-right {
	-webkit-transform: translateX(110%);
	-ms-transform: translateX(110%);
	transform: translateX(110%);
}
.form-input {
	width: 100%;
	height: 40px;
	margin: 15px 0;
	text-indent: 17px;
	font-family: inherit;
	font-size: 1.3rem;
	font-weight: 300;
	color: #909291;
	background: rgba(255, 255, 255, 0.9);
	border: solid 1px #D5D5D5;
	border-radius: 3px;
	outline: 0;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
.form-passwords {
	width: 47%;
	font-size: 1rem;
	text-indent: 10px;
}
#reg-confirm-pass {
	float: right;
}
.form-input::-webkit-input-placeholder {
	font-weight: 300;
}
.form-submit {
	width: 50%;
	display: block;
	margin: 22px auto 0;
	padding: 7px 20px;
	background: #FA513E;
	font-family: inherit;
	font-weight: 300;
	font-size: 1.5rem;
	color: #fff;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
}
#sign-in-submit {
	background: #668AE9;
}
.form-error {
	display: block;
	text-align: center;
	color: red;
}
.forgotten-password {
	display: none;
	margin-top: 7px;
	text-align: center;
	color: #A7A7A7;
	cursor: pointer;
}
.forgotten-password:hover {
	color: #343534;
}
.features-wrap {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	color: #5E5E5E;
}
.features-top-header {
	margin: 40px 0 120px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	font-weight: 300;
	text-align: center;
}
.features-top {
	margin-top: 50px;
}
.features-top-feature-block {
	width: 29%;
	max-width: 330px;
	margin: 0 0 70px 4%;
	float: left;
}
.features-top-feature-image {
	display: block;
	max-width: 240px;
	margin: 0 auto;
}
.features-top-feature-header {
	font-weight: 400;
	text-align: center;
}
.features-top-feature-text {
	width: 90%;
	padding: 0 5%;
}
.feature-apps {
	margin: 20px 0 70px;
	text-align: center;
}
.feature-apps-header {
	color: #4AB84A;
	font-weight: 400;
}
.feature-apps-text {
	width: 94%;
	margin: 15px auto 30px;
	color: #343534;
}
.feature-devices {
	margin: 20px 0 70px;
	text-align: center;
}
.devices-header {
	font-weight: 400;
	color: #2E8EFF;
}
.devices-text {
	width: 94%;
	margin: 15px auto 30px;
	color: #343534;
}
.devices-image {
	max-width: 451px;
	display: block;
	margin: 0 auto;
}
.bottom-features {
	margin-bottom: 40px;
	overflow: hidden;
}
.bottom-feature-box {
	width: 20%;
	margin: 0 2.5%;
	float: left;
}
.bottom-feature-image {
	height: 100px;
	margin: 0 auto 20px;
	display: block;
}
.bottom-feature-text {
	width: 93%;
	margin: 0 auto;
}
#bottom-feature-beta {
	margin: 0 auto 20px;
	line-height: 100px;
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #eb3d00;
	text-transform: uppercase;
	text-align: center;
}
.footer {
	width: 100%;
	height: 40px;
	border-top: solid 1px #ced1d1;
	overflow: hidden;
}
.footer-links {
	float: left;
	font-size: 0.9rem;
	list-style: none;
}
.footer-links-item {
	height: 20px;
	margin: 10px 0 10px 25px;
	float: left;
	cursor: pointer;
}
#baker {
	margin-right: 25px;
	float: right;
	font-size: 0.9rem;
	line-height: 40px;
}
#portf {
	color: orange;
	text-decoration: none;
}
#portf:hover {
	text-decoration: underline;
}
.page-not-found-wrap {
	width: 80%;
	margin: 0 auto;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #444544;
	text-align: center;
}
.page-not-found-first-header {
	margin: 20px 0 0;
	font-size:2.3rem;
	font-weight: inherit;
}
.page-not-found-second-header {
	font-size: 13rem;
	font-weight: 100;
}
.oops {
	color: #eb3d00;
}
.page-not-found-text {
	width: 80%;
	display: inline-block;
	font-size: 1.25rem;
}
.support-link {
	color: #444544;
	text-decoration: underline;
}
.page-not-found-third-header {
	font-size: 1.5rem;
	font-weight: inherit;
}
.saved-today {
	height: 140px;
	margin: 40px 0 0 4%;
	float: left;
	text-align: right;
	text-transform: uppercase;
}
.saved-today-header {
	margin: 0 0 10px;
	font-size: 1.5rem;
	font-weight: inherit;
}
.saved-today-count {
	font-size: 2rem;
}
.most-saved {
	height: 140px;
	margin: 40px 4% 0 0;
	float: right;
	text-align: right;
	text-transform: uppercase;
}
.most-saved-header {
	margin: 0 0 20px;
	font-size: 1.5rem;
	font-weight: inherit;
}
.most-saved-title {
	font-weight: 400;
	font-size: 1.18rem;
}
.page-not-found-button {
	width: 365px;
	height: 45px;
	display: block;
	font-size: 1.3rem;
	text-align: center;
	text-decoration: none;
	line-height: 45px;
	color: #fff;
	background: #5c5e5d;
	border-bottom: solid 5px #343534;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}
.page-not-found-button:hover {
	background: #eb3d00;
	border-bottom: solid 5px #B14141;
}
.page-not-found-button:active {
	border: 0;
}
#button-left {
	float: left;
	clear: right;
	cursor: pointer;
}
#button-right {
	float: right;
	clear: right;
}
.terms-block {
	position: fixed;
	top: 8%;
	left: 8%;
	width: 80%;
	height: 80%;
	padding: 2%;
	background: #fff;
	border: solid 2px #ACACAC;
	box-shadow: 0 0 15px #AFB3AF;
	display: none;
	overflow: scroll;
}
.terms-top-header {
	margin: 20px 0;
	font-weight: 400;
	text-align: center;
}
.terms-header {
	margin: 20px 0 5px;
	font-weight: 400;
}
#terms-close-button {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
	background: #F06363;
	cursor: pointer;
}
#privacy-close-button {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
	background: #F06363;
	cursor: pointer;
}
.about-wrap {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	font-family: 'Lora', serif;
	font-size: 1.2rem;
}
.about-section {
	float: left;
	margin-top: 50px;
}
.about-logo {
	display: block;
	width: 100px;
	margin: 30px auto;
}
.about-top-header {
	margin: 0 0 45px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}
.about-text {
	margin-bottom: 25px;
}
.about-article {
	width: 46%;
	float: left;
}
#about-article-right {
	margin-left: 4%;
}
.about-article-header {
	font-size: 1.7rem;
	margin: 0 0 20px;
	font-weight: 400;
}
.dr {
	width: 120px;
	float: left;
	margin: 20px 20px 0 0;
}
.behind {
	width: 84%;
	float: left;
}
#last {
	margin-bottom: 50px;
}
.blog-wrap {
	max-width: 840px;
	margin: 0 auto;
	padding-top: 80px;
	font-family: 'Open Sans', serif;
}
.blog-post {
	margin: 30px 0;
	border-bottom: solid 3px #dedede;
}
.post-title {
	font-size: 1.8rem;
}
.post-date {
	margin: 5px 0 10px;
	font-size: 0.9rem;
	font-weight: 600;
}
.post-text {
	margin: 27px 0;
}