body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #343534;
}
ul, h1, p {
	margin: 0;
	padding: 0;
}
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
#not-supported {
	display: none;
}
.logo {
	height: 90px;
	position: absolute;
	display: block;
	margin: 60px 30px 20px;
	z-index: 1;
}
.header {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #fff;
	box-shadow: 0 2px 1px #F8F8F8;
	z-index: 2;
}
.nav-block {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
.menu {
	display: inline-block;
	height: 40px;
	padding: 5px 0;
	list-style: none;
	overflow: hidden;
}
.menu-item {
	float: left;
	margin: 0 10px;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 40px;
	color: #838383;
	cursor: pointer;
}
.sign-section {
	max-width: 100%;
	height: 560px;
	overflow: hidden;
	background-image: url(../images/screen.png);
	background-color: #fff;
	background-position: 550px 150px;
	background-size: 80%;
	background-repeat: no-repeat;
}
.sign-up-block {
	max-width: 460px;
	height: 390px;
	margin: 160px 0 0 5%;
	overflow: hidden;
}
.sign-up-heading {
	text-align: center;
	font-weight: 300;
}
.toggle-forms {
	width: 300px;
	height: 40px;
	margin: 0 auto;
}
.toggle-form-button {
	display: block;
	float: left;
	width: 50%;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
#up {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #00d1fb;
}
#in {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #86c351;
}
.forms-block {
	overflow: hidden;
}
.sign-form {
	width: 260px;
	height: 250px;
	margin: 15px auto;
	font-family: 'Roboto', sans-serif;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.form-input {
	width: 100%;
	height: 25px;
	margin: 10px 0;
	padding: 4px 0;
	text-indent: 6px;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 300;
	color: #909291;
	box-shadow: 0 2px 2px #DDD;
	border: solid 1px #E2E2E2;
	outline: 0;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
.form-submit {
	width: 70%;
	margin: 10px auto 0;
	padding: 7px 20px;
	display: block;
	font-family: inherit;
	font-weight: 300;
	font-size: 1rem;
	color: #fff;
	background: #a3d771;
	border-radius: 1px;
	border: 0;
	outline: 0;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.form-submit:hover {
	background: #7CC03A;
}
.progress {
	display: none;
	position: relative;
	bottom: 28px;
	left: 190px;
	color: #fff;
	animation: first 0.4s infinite linear;
	-webkit-animation: first 0.4s infinite linear;
}
@-webkit-keyframes first {
	from {-webkit-transform: rotate(0);}
	to {-webkit-transform: rotate(360deg);}
}
@keyframes first {
	from {-webkit-transform: rotate(0);}
	to {-webkit-transform: rotate(360deg);}
}
.submit-animate {
	width: 40px;
	height: 40px;
	padding: 0;
	border-radius: 40px;
}
.form-error {
	display: block;
	font-size: 0.8rem;
	text-align: center;
	color: red;
}
.forgotten-password {
	display: none;
	margin: 8px 0;
	text-align: center;
	font-size: 0.8rem;
	color: #A7A7A7;
	cursor: pointer;
}
.forgotten-password:hover {
	color: #343534;
}
.forg-pass-block {
	width: 78%;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	border: solid 2px #DDD;
	opacity: 0;
	display: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translateY(-240%);
	-ms-transform: translateX(-240%);
	transform: translateX(-240%);
}
.send-mail-success {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	text-align: center;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateX(-105%);
	-ms-transform: translateX(-105%);
	transform: translateX(-105%);
}
.send-mail-headings {
	margin: 30px 0 10px;
	font-weight: 300;
}
.send-mail-success-show {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
}
.forg-pass-header {
	font-size: 0.9rem;
	font-weight: 400;
}
.forg-pass-email {
	width: 70%;
	margin: 40px 15% 10px;
	padding: 5px 0;
	font-size: 1.2rem;
	display: block;
	text-indent: 8px;
	border: solid 2px #919191;
	outline: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.forg-pass-email:focus {
	border: solid 2px #343534;
}
.forg-pass-send {
	width: 40%;
	margin: 20px 0;
	padding: 7px 15px;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
	background: green;
	border-radius: 2px;
	border: 0;
	cursor: pointer;
}

.form-move {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}


.features-wrap {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #5E5E5E;
	background: #fff;
	border-top: solid 1px #ECECEC;
	-webkit-transform: translate3d(0,0,0);
}
.features-column {
	max-width: 1140px;
	margin: 0 auto;
}
.features-top-header {
	padding: 40px 0 120px;
	font-family: inherit;
	font-size: 1.7rem;
	font-weight: 300;
	text-align: center;
}
.feature-block {
	display: inline-block;
	width: 30%;
	max-width: 300px;
	height: 200px;
	margin: 40px 20px;
}
.feature-img {
	display: block;
	height: 100px;
	margin: 0 auto 20px;
}
.feature-text {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: left;
}


.footer {
	width: 100%;
	height: 40px;
	background: #fff;
	overflow: hidden;
}
.footer-links {
	float: left;
	font-size: 0.8rem;
	list-style: none;
}
.footer-links-item {
	height: 20px;
	margin: 10px 0 10px 25px;
	float: left;
	cursor: pointer;
}
#baker {
	margin-right: 25px;
	float: right;
	font-size: 0.9rem;
	line-height: 40px;
}
#portf {
	color: orange;
	text-decoration: none;
}
#portf:hover {
	text-decoration: underline;
}
.page-not-found-wrap {
	width: 80%;
	margin: 0 auto;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #444544;
	text-align: center;
}
.page-not-found-first-header {
	margin: 20px 0 0;
	font-size:2.3rem;
	font-weight: inherit;
}
.page-not-found-second-header {
	font-size: 13rem;
	font-weight: 100;
}
.oops {
	color: #eb3d00;
}
.page-not-found-text {
	width: 80%;
	margin-bottom: 60px;
	display: inline-block;
	font-size: 1.25rem;
}
.support-link {
	color: #444544;
	text-decoration: underline;
}
.page-not-found-third-header {
	font-size: 1.5rem;
	font-weight: inherit;
}
.saved-today {
	height: 140px;
	margin: 40px 0 0 4%;
	float: left;
	text-align: right;
	text-transform: uppercase;
}
.saved-today-header {
	margin: 0 0 10px;
	font-size: 1.5rem;
	font-weight: inherit;
}
.saved-today-count {
	font-size: 2rem;
}
.most-saved {
	height: 140px;
	margin: 40px 4% 0 0;
	float: right;
	text-align: right;
	text-transform: uppercase;
}
.most-saved-header {
	margin: 0 0 20px;
	font-size: 1.5rem;
	font-weight: inherit;
}
.most-saved-title {
	font-weight: 400;
	font-size: 1.18rem;
}
.page-not-found-button {
	width: 365px;
	height: 45px;
	display: block;
	font-size: 1.3rem;
	text-align: center;
	text-decoration: none;
	line-height: 45px;
	color: #fff;
	background: #5c5e5d;
	border-bottom: solid 5px #343534;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}
.page-not-found-button:hover {
	background: #eb3d00;
	border-bottom: solid 5px #B14141;
}
.page-not-found-button:active {
	border: 0;
}
#button-left {
	float: left;
	clear: right;
	cursor: pointer;
}
#button-right {
	float: right;
	clear: right;
}
.terms-block {
	position: fixed;
	top: 8%;
	left: 8%;
	width: 80%;
	height: 80%;
	padding: 2%;
	background: #fff;
	border: solid 2px #ACACAC;
	box-shadow: 0 0 15px #AFB3AF;
	display: none;
	overflow: scroll;
}
.terms-top-header {
	margin: 20px 0;
	font-weight: 400;
	text-align: center;
}
.terms-header {
	margin: 20px 0 5px;
	font-weight: 600;
}
#terms-close-button {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
	background: #F06363;
	cursor: pointer;
}
#privacy-close-button {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
	background: #F06363;
	cursor: pointer;
}
.about-wrap {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	font-family: 'Lora', serif;
	font-size: 1.2rem;
}
.about-section {
	float: left;
	margin-top: 50px;
}
.about-logo {
	display: block;
	width: 100px;
	margin: 30px auto;
}
.about-top-header {
	margin: 0 0 45px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}
.about-text {
	margin-bottom: 25px;
}
.about-article {
	width: 46%;
	float: left;
}
#about-article-right {
	margin-left: 4%;
}
.about-article-header {
	font-size: 1.7rem;
	margin: 0 0 20px;
	font-weight: 400;
}
.dr {
	width: 120px;
	float: left;
	margin: 20px 20px 0 0;
}
.behind {
	width: 84%;
	float: left;
}
.case-study-link {
	text-decoration: underline;
	color: #FA513E;
}
#last {
	margin-bottom: 50px;
}
.blog-wrap {
	max-width: 840px;
	margin: 0 auto;
	padding-top: 80px;
	font-family: 'Open Sans', serif;
}
.blog-post {
	margin: 30px 0;
	border-bottom: solid 3px #dedede;
}
.post-img {
	display: block;
	max-width: 100%;
	margin: 30px auto;
}
.post-title {
	font-size: 1.8rem;
}
.post-date {
	margin: 5px 0 10px;
	font-size: 0.9rem;
	font-weight: 600;
}
.post-text {
	margin: 27px 0;
}
.post-paragraph {
	margin: 20px 0;
}
@media screen and (max-width: 1024px) {
	.sign-up-block {
		max-width: 400px;
		margin: 160px 0 0 0;
	}
	.sign-section {
		background-size: 110%;
		background-position: 500px 150px;
	}
}
@media screen and (max-width: 780px) {
	.feature-block {
		width: 40%;
	}
	.sign-section {
		background-position: 400px 150px;
	}
	.footer {
		height: auto;
	}
}
@media screen and (max-width: 580px) {
	.sign-up-block {
		margin: 110px auto;
	}
	.sign-section {
		height: 730px;
		background-position: 50px 470px;
		background-size: 170%;
	}
	.feature-block {
		width: 94%;
	}
	.logo {
		height: 45px;
		left: 50%;
		margin: 70px 0 0 -13px;
		float: none;
	}
	.header {
		height: auto;
	}
	.about-wrap {
		width: 96%;
		padding: 0;
	}
	.about-section {
		margin-top: 30px;
	}
	.top-section {
		margin-top: 100px;
	}
	.about-article {
		width: 100%;
		margin: 0 auto 30px;
		float: none;
	}
	#about-article-right {
		margin-left: 0;
	}
	.dr {
		display: block;
		margin: 0 auto 20px;
		float: none;
	}
	.behind {
		width: 100%;
		float: none;
	}
}
@media screen and (max-width: 480px) {
	.form-passwords {
		width: 100%;
		margin: 15px 0;
	}
	.features-top-header {
		font-size: 1.5rem;
	}
	.footer-links {
		width: 94%;
		margin: 0 auto;
		float: none;
	}
	.footer-links-item:nth-child(-n+2) {
		display: none;
	}
	.footer-links-item {
		margin: 10px 0 10px 15px;
	}
	#baker {
		width: 100%;
		display: block;
		float: none;
		margin-right: 0;
		text-align: center;
	}
	.about-wrap {
		font-size: 1rem;
	}
}
@media screen and (min-width: 320px) and (max-width: 320px) {
	.menu-item {
		margin: 0 5px;
	}

}