body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #343534;
	-webkit-backface-visibility: hidden; /* Safari 6 flicker fix */
}
input,ul, h1 {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
a {
	text-decoration: none;
	color: #343534;
}
.sidebar {
	width: 104px;
	height: 100%;
	margin-top: 51px;
	float: left;
	position: fixed;
	background: #fff;
	overflow: scroll;
	z-index: 1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.home-wrap {
	height: 50px;
	position: absolute;
	background: #fff;
	cursor: pointer;
	z-index: 1;
}
.sidebar-show-button {
	float: left;
	display: none;
}
.group {
	width: 100%;
	position: relative;
	font-weight: 400;
	color: #fff;
	overflow: hidden;
}
.group-box {
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.group-add {
	width: 48px;
	height: 48px;
	margin: 20px auto 65px;
	color: #e0e0e0;
	font-size: 0.9rem;
	text-align: center;
	line-height: 48px;
	border: solid 2px #e0e0e0;
	border-radius: 48px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.plus {
	font-size: 1.4rem;
}
.group-add:hover {
	color: #cbcdcd;
	border: dashed 2px #cbcdcd;
}
.scale {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.bookmarks-group-nav {
	width: 75%;
	height: 75px;
	float: left;
}
.bookmarks-group-count {
	display: block;
	margin: 20px auto;
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 40px;
	cursor: pointer;
}
.bookmarks-group-actions {
	width: 25%;
	height: 75px;
	float: left;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.bookmarks-group-color-palette {
	width: 104px;
	height: 50px;
	padding: 4px;
	position: absolute;
	top: -60px;
	left: 6px;
	border: solid 1px #B9B9B9;
	background: #fff;
	overflow: hidden;
	display: none;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.drawer-open {
	display: block;
}
.bookmarks-group-color {
	width: 20px;
	height: 20px;
	margin: 3px 3px;
	display: block;
	float: left;
	border-radius: 20px;
}
.palette-color-red {
	background: #EB4040;
}
.palette-color-green {
	background: #4ABB3E;
}
.palette-color-black {
	background: #343534;
}
.palette-color-lightblue {
	background: #33A3C0;
}
.palette-color-brown {
	background: #863825;
}
.palette-color-blue {
	background: #838AFF;
}
.palette-color-orange {
	background: #FFAC79;
}
.palette-color-grey {
	background: #A3A3A3;
}
.group-box:hover .bookmarks-group-actions {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.dragover {
	-ms-transform: scale(0.85);
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
}
.bookmarks-group-name {
	display: block;
	width: 100%;
	color: #818382;
	font-size: 0.8rem;
	text-align: center;
	cursor: default;
}
.content {
	width: 100%;
	float: left;
}
.content-header {
	width: 100%;
	position: fixed;
	z-index: 1;
	background: #fff;
	border-bottom: solid 1px #F0EFF1;
}
.header-controls-wrap {
	margin-left: 60px;
}
.input-search {
	width: 56%;
	height: 50px;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	font-weight: 300;
	color: #A9ABBE;
	text-indent: 50px;
	background: #fff;
	border: 0;
	outline: 0;
	border-right: solid 1px #F0EFF1;
	background-image: url(../images/user/search-icon.png);
	background-size: 24px;
	background-position: 11px 13px;
	background-repeat: no-repeat;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content-actions-block {
	width: 44%;
	height: 50px;
	float: left;
}
.content-actions-block-mobile {
	display: none;
}
.content-actions-button {
	display: block;
	width: 60px;
	height: 40px;
	float: left;
	background-repeat: no-repeat;
	background-size: 20px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.vp-wide {
	background-position: center 2px;
}
.change-tmpl {
	margin: 0;
}
.actions-button-text {
	display: block;
	margin-top: 25px;
	font-size: 0.8rem;
}
.content-actions-button:active {
	-webkit-transform: scale(0.90);
	transform: scale(0.90);
}
.add-url {
	margin: 5px 0 5px 2%;
	background-image: url(../images/user/add_url.png);
}
.starred {
	margin: 5px 0 5px 2%;
	background-image: url(../images/user/star.png);
}
.yellow-star {
	background-image: url(../images/user/yellow-star.png);
}
#settings {
	float: right;
	margin: 5px 2% 5px 0;
	background-image: url(../images/user/cog.png);
}
#report {
	float: right;
	margin: 5px 2% 5px 0;
	background-image: url(../images/user/flag.png);
}
#add-url {

}
.add-url-block {
	width: 40%;
	height: 30px;
	position: absolute;
	border: solid 1px #FFCBCB;
	left: 40%;
	top: 50px;
	background: #fff;
	-webkit-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.add-url-show {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.add-url-input {
	width: 90%;
	height: 22px;
	padding: 4px 0;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	display: block;
	text-indent: 2%;
	border: 0;
	outline: 0;
}
.add-url-submit {
	display: block;
	width: 10%;
	height: 30px;
	padding: 0;
	float: right;
	font-size: 1.1rem;
	color: #fff;
	background: #FF4242;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.add-url-loading {
	margin: 2.5px 0;
	-webkit-animation: myfirst 1s infinite linear;
	animation: myfirst 1s infinite linear;
}
@-webkit-keyframes myfirst {
	from {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);	
	}
	to {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}
@keyframes myfirst {
	from {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);	
	}
	to {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#list {
	background-image: url(../images/user/list.png);
}
#grid {
	background-image: url(../images/user/grid.png);
}
#sign-out {
	display: block;
	width: 80px;
	margin: 20px auto;
	padding: 6px 14px;
	color: #343534;
	font-size: 0.9rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
	background: #fff;
	border: solid 2px #DB4A39;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
#sign-out:hover {
	color: #DB4A39;
}
.bookmarks-section {
	margin-left: 104px;
	margin-top: 50px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.bookmarks-list {
	width: 100%;
}
.select-bookmark {
	display: block;
	cursor:grab;
	cursor:-moz-grab;
	cursor:-webkit-grab;
	background-repeat: no-repeat;
}
.bookmark-menu-line {
	width: 100%;
	height: 2px;
	margin: 2px 0;
	float: right;
}
.bookmark-title:focus {
	cursor: text;
}
.bookmark-star {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	background-size: 20px;
	background-image: url(../images/user/not-starred.png);
	cursor: pointer;
}
.bookmark-starred {
	background-image: url(../images/user/starred.png);
}
.bookmark-menu-line:first-child {
	width: 80%;
}
.bookmark-menu {
	position: absolute;
	width: 120px;
	background: #fff;
	box-shadow: 0 1px 2px #d1d1d1;
	display: none;
	z-index: 1;
}
.bookmark-menu-list {
	display: block;
	font-size: 0.8rem;
	border-radius: 5px;
	box-shadow: 0 0 8px #E9E9E9;
}
.bookmark-menu-list-item {
	height: 18px;
	padding: 4px 0 4px 30px;
	line-height: initial;
	background-position: 5px 6px;
	background-size: 15px;
	background-repeat: no-repeat;
}
.bookmark-menu-list-item:hover {
	background-color: #fafafa;
	cursor: pointer;
}
.being-moved {
	opacity: 0.4;
}
.bookmark-delete {
	float: right;
	cursor: pointer;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	display: none;
}
.list-tmpl {
	position: relative;
	height: 40px;
	font-size: 0.8rem;
	line-height: 40px;
	background: #fff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.lst-select-bookmark {
	width: 20px;
	height: 40px;
	float: left;
	background-size: 20px 40px;
}
.list-tmpl:hover .lst-select-bookmark {
	background-image: url(../images/user/dots.png);
}
.lst-bookmark-star {
	margin: 10px 0 10px 7px;
}
.lst-bookmark-menu-wrap {
	width: 20px;
	float: left;
	margin: 11px 0 11px 12px;
	cursor: pointer;
}
.lst-bookmark-menu-line {
	background: #343534;
}
.lst-bookmark-menu {
	top: 33px;
	left: 10px;
}
.lst-bookmark-val-block {
	width: 42%;
	height: 40px;
	margin-right: 1%;
	float: left;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.lst-bookmark-title {
	margin-left: 12px;
}
#tags-block {
	width: 14%;
	margin-right: 0;
}
.bookmark-tags-wrap {
	display: inline-block;
}
.bookmark-tags {
	height: 20px;
	padding: 1px 5px;
	margin: 8px 0;
	display: inline-block;
	float: left;
	font-size: 0.7rem;
	line-height: 20px;
    border: solid 1px #cbcbcb;
	background: #fff;
	cursor: default;
}
.bookmark-tags:hover {
	background: #fafafa;
}
.bookmark-tags-wrap:hover .tag-delete {
	display: inline-block;
}
.tag-delete {
	height: 24px;
	padding: 0 3px;
	margin: 8px 0;
	float: left;
	line-height: 20px;
	color: #fff;
	background: #FF7474;
	cursor: pointer;
	display: none;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.tag-delete:hover {
	background: #ff5757;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.lst-bookmark-delete:hover {
	border: solid 1px #DFDFDF;
}
.lst-bookmark-delete {
	display: block;
	height: 20px;
	margin: 10px 12px 10px 0;
	padding: 0 5px;
	color: #d5d4d5;
	line-height: 20px;
	border-radius: 2px;
	border: solid 1px transparent;
}
.grid-tmpl {
	width: 18%;
	max-width: 240px;
	height: 240px;
	margin: 1%;
	float: left;
	position: relative;
	font-family: 'Roboto', helvetica, sans-serif;
	box-shadow: 0 1px 2px #C0C0C0;
	overflow: hidden;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.grd-bookmark-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.97);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.grid-tmpl:hover .grd-bookmark-content {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.grid-tmpl:hover .grd-bookmark-image {
	-webkit-transform: translateX(-30%);
	-ms-transform: translateX(-30%);
	transform: translateX(-30%);
}
.grd-bookmark-image {
	height: 100%;
	-webkit-transition: 3s;
	transition: 3s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.grd-bookmark-title {
	display: block;
	font-size: 0.9rem;
	padding: 5px 0 5px 4px;
	font-weight: 300;
}
.grd-bookmark-link {
	display: block;
	height: 240px;
	background-color: #fff
}
.grd-bookmark-title-big {
	margin: 0;
	padding: 11px;
	font-size: 1.3rem;
	font-weight: 100;
}
.grd-bookmark-descr {
	padding: 0 5px;
	font-size: 0.8rem;
}
.grd-bookmark-menu-wrap {
	width: 22px;
	float: left;
	margin: 7px 5px 5px 5px;
	cursor: pointer;
}
.grd-bookmark-menu-line {
	background: #343534;
}
.grd-bookmark-menu {
	bottom: 5px;
	left: 30px;
}
.edit-title {
	background-image: url(../images/user/edit-icon.png);
}
.add-tag {
	background-image: url(../images/user/add-tag.png);
}
.copy-link {
	background-image: url(../images/user/copy-icon.png);
}
.star-mobile {
	background-image: url(../images/user/dark-star.png);
	display: none;
}
.starred-mobile {
	background-image: url(../images/user/yellow-star-lst.png);
	display: none;
}
.delete-mobile {
	background-image: url(../images/user/delete-button.png);
	display: none;
}
.to-group {
	background-image: url(../images/user/add-to-group.png);
	display: none;
}
.grd-bookmark-star {
	margin: 5px;
}
.grd-bookmark-tags-wrap {
	position: absolute;
	right: 40px;
}
.grd-bookmark-delete {
	display: block;
	width: 20px;
	height: 20px;
	margin: 5px 5px 0 0;
	background-image: url(../images/user/delete-button.png);
	background-size: 20px;
	background-repeat: no-repeat;
	opacity: 0.5;
}
.grd-bookmark-delete:hover {
	opacity: 1;
}
.grd-select-bookmark {
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: 30px;
	background-position: -30px;
	background-image: url(../images/user/grd-dots.png);
	z-index: 1;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.grid-tmpl:hover .grd-select-bookmark {
	background-position: 0px;
}
.grd-bookmark-settings {
	width: 100%;
	height: 30px;
}
.report-block {
	position: absolute;
	width: 300px;
	right: 10px;
	top: 35px;
	background: #fff;
	border-top: solid 1px #DFDFDF;
	box-shadow: 0 2px 5px #ACACAC;
	z-index: 2;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.report-text {
	margin-bottom: 15px;
	padding: 0 1%;
	text-align: center;
	font-size: 0.8rem;
}
.report-message {
	display: block;
	width: 92%;
	padding: 1%;
	margin: 0 auto 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8rem;
	border: solid 2px #868686;
	resize: vertical;
	outline: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;	
}
.report-message:focus {
	border: solid 2px #343534;
}
.report-send {
	display: block;
	margin: 0 auto 15px;
	padding: 4px 20px;
	font-size: 0.9rem;
	background: #fff;
	color: #868686;
	border: solid 2px #868686;
	border-radius: 2px;
	outline: 0;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.report-send:hover {
	color: #343534;
	border: solid 2px #343534;
}
.an-block {
	opacity: 1;
	top: 50px;
}
.say-thanks {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: center;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.say-thanks-translate {
	-webkit-transform: translateX(-0);
	-ms-transform: translateX(-0);
	transform: translateX(-0);
}
.thanks {
	margin: 60px 0 30px;
	color: #FF4242;
	font-weight: 300;
}
.smile {
	font-size: 2rem;
	font-weight: 300;
}
.settings-block {
	position: fixed;
	width: 400px;
	height: 90%;
	right: 0;
	top: 50px;
	background: #fff;
	border: solid 2px #9E9B9B;
	border-top: 0;
	z-index: 2;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	overflow: scroll;
}
.collections-list-edit {
	width: 100%;
	margin: 10px 0;
	float: left;
}
.collection-edit {
	width: 100%;
	height: 40px;
	position: relative;
}
.collection-edit-color {
	display: block;
	float: left;
	margin: 5px 6px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	cursor: pointer;
}
.collection-edit-name {
	width: 70%;
	margin-left: 10px;
	display: block;
	float: left;
	color: #818382;
	font-size: 0.9rem;
	line-height: 40px;
	cursor: pointer;
}
.collection-edit-name:focus {
	cursor: text;
}
.collection-edit-delete {
	width: 18px;
	height: 18px;
	margin: 10px 8px;
	float: right;
	border-radius: 20px;
	font-size: 0.7rem;
	font-weight: 300;
	line-height: 20px;
	background: #fff;
	color: #FA5757;
	text-align: center;
	border: solid 1px #FA5757;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.collection-edit-delete:hover {
	background: #FA5757;
	color: #fff;
}
.settings-hidden {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
.settings-visible {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.setting-group-wrap {
	margin: 10px 0;
}
.settings-header {
	padding: 5px 0;
	font-size: 1.2rem;
	color: #fff;
	font-weight: 400;
	text-align: center;
	background: #DB4A39;
}
.setting-heading-wrap {
	width: 60%;
	border-bottom: solid 2px #9E9B9B;
	overflow: hidden;
}
.settings-type {
	width: 60%;
	margin: 0;
	padding: 0 0 3px 5px;
	float: left;
	color: #9E9B9B;
	font-size: 1rem;
	font-weight: 600;
}
.show-hide-setting {
	float: right;
	font-size: 2rem;
	margin-right: 10px;
	color: #DB4A39;
	line-height: 20px;
	font-weight: 300;
	cursor: pointer;
}
.settings-form-section {
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
}
.settings-form-label {
	width: 30%;
	margin: 0 0 25px 3%;
	float: left;
	clear: both;
	font-family: 'Roboto', sans-serif;
	line-height: 23px;
}
.settings-form-input {
	width: 60%;
	height: 23px;
	margin-right: 3%;
	float: right;
	font-size: 1rem;
	text-indent: 5px;
	border: solid 2px #A7A7A7;;
	outline: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.settings-form-input:focus {
	border: solid 2px #343534;
}
.label-medium {
	width: 40%;
}
.label-long {
	width: 50%;
}
.settings-form-select {
	width: 50%;
	height: 27px;
	margin-right: 3%;
	padding: 2px 0 2px 2%;
	float: right;
	font-size: 1rem;
	border: solid 2px #A7A7A7;
	border-radius: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	-webkit-appearance: none;
}
.settings-form-option {
	-webkit-appearance: none;
}
.settings-change-tmpl {
	width: 40%;
	float: right;
}
.settings-import-button {
	width: 50%;
	margin-right: 3%;
	float: right;
}
.new-pass-input {
	margin-bottom: 15px;
}
.confirm-pass-change {
	padding: 5px 15px;
	margin: 0 auto;
	display: block;
	clear: both;
	font-size: 1rem;
	color: #2E9B2E;
	background: #fff;
	border: solid 2px #2E9B2E;
	cursor: pointer;
	border-radius: 2px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.confirm-pass-change:hover,
.recover-submit:hover {
	background: #2E9B2E;
	color: #fff;
}
.change-pass-message {
	width: 100%;
	margin-bottom: 15px;
	display: block;
	clear: both;
	font-size: 0.9rem;
	text-align: center;
	opacity: 0;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.recover-box {
	position: absolute;
	top: 70px;
	left: 35%;
	width: 30%;
	min-width: 320px;
	height: 145px;
	background: #fff;
	box-shadow: 0 0 5px #343534;
	overflow: hidden;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.recover-heading {
	margin: 10px 0;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}
.recover-input {
	display: block;
	padding: 2px 0;
	margin: 20px auto;
	font-size: 1rem;
	text-indent: 5px;
	border: solid 2px #A7A7A7;
	outline: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.recover-submit {
	padding: 5px 15px;
	margin: 15px auto;
	display: block;
	font-size: 1rem;
	color: #2E9B2E;
	background: #fff;
	border: solid 2px #2E9B2E;
	cursor: pointer;
	border-radius: 2px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.recover-message {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
.recover-message-h {
	font-size: 1.4rem;
	font-weight: 300;
	text-align: center;
	line-height: 145px;
}
.recover-message-show {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.new-user-text {
	font-family: Helvetica, sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	text-align: center;
	color: #747474;
}
.thank-you {
	font-size: 2rem;
	margin: 20px;
}
.beta-warning {
	font-weight: 300;
}
.new-user-bookmarko {
	font-weight: 400;
}
.browser-extensions-box {
	width: 573px;
	margin: 70px auto 0;
	overflow: hidden;
}
.get-extension-header {
	margin: 20px 0;
	font-weight: 300;
}
.browser-extensions-icon {
	max-width: 100%;
	opacity: 0.7;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.browser-extensions-icon:hover {
	opacity: 1;
}
.browser-extensions-link {
	width: 271px;
	display: block;
	margin: 0 auto;
}
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
	outline: 0;
	text-decoration: underline;
}
.hidden {
	display: none;
}
@media screen and (max-width: 1023px) {

	.content-header {
		border: 0;
		box-shadow: 0 1px 2px #C0C0C0;
	}
	.sidebar-show-button {
		display: block;
		padding-right: 1px;
	}
	.header-controls-wrap {
		margin-left: 104px;
	}
	.sidebar {
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	.sidebar-show {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	.bookmarks-section {
		margin-left: 0;
	}
	.bookmarks-section-translate {
		-webkit-transform: translateX(104px);
		-ms-transform: translateX(104px);
		transform: translateX(104px);
	}
	.input-search {
		width: 41%;
	}
	.content-actions-block {
		width: 59%;
	}
	.select-bookmark {
		display: none;
	}
	#url-block {
		display: none;
	}
	#title-block {
		width: 85%;
	}
	.star-mobile {
		display: none;
	}
	.delete-mobile {
		display: none;
	}
	.import-data {
		display: none;
	}
	.bookmarks-group-actions {
		width: 25%;
		height: 75px;
		float: left;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}
@media screen and (max-width: 800px) {
	.grid-tmpl {
		width: 48.5%;
	}
}
@media screen and (max-width: 560px) {
	.grid-tmpl {
		width: 96%;
		margin: 15px auto;
		float: none;
	}
	.list-tmpl {
		height: 60px;
		border-bottom: solid 1px #fafafa
	} 	
	.bookmark-tags-wrap {
		float: right;
	}
	.bookmark-tags,
	.tag-delete {
		margin: 0;
	}
	.lst-bookmark-delete {
		display: none;
	}
	.header-controls-wrap {
		margin-left: 0;
	}
	.content-header {
		overflow: visible;
	}
	.content-actions-block {
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: 3;
		background: #FFF;
		border-top: solid 1px #C0C0C0;
		display: none;
	}
	.content-actions-block-mobile {
		display: block;
		height: 50px;
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: 3;
		background: #FFF;
		text-align: center;
		border-top: solid 1px #C0C0C0;
	}
	.content-actions-button {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	.starred,
	#settings,
	#report {
		margin: 15px 3%;
	}
	.input-search {
		width: 100%;
		margin-left: 104px;
	}
	.settings-block {
		width: 100%;
	}
	.report-block {
		width: 100%;
		top: auto;
		left: 0;
		bottom: 65px;
		border: 0;
		border-top: solid 2px #F00;
	}
	.an-block-mobile {
		opacity: 1;
		bottom: 50px;
	}
	.bookmarks-list {
		float: left;
		margin-bottom: 50px;
	}
	.lst-bookmark-menu-wrap {
		margin: 11px 0 11px 7px;
	}
	.lst-bookmark-title {
		margin-left: 10px;
	}
	.lst-bookmark-star {
		display: none;
	}
	.star-mobile {
		display: block;
	}
	.delete-mobile {
		display: block;
	}
	.to-group {
		display: block;
	}
	#title-block {
		width: 98%;
	}
	#tags-block {
		width: 40%;
		height: auto;
		position: absolute;
		top: 32px;
		right: 10px;
	}
	.browser-extensions-box {
		width: 96%;
		margin: 15px auto 0;
	}
	.help-arrows {
		width: 100%;
		margin-top: -50px;
	}
	.browser-extensions-icon {
		height: 31px;
		margin: 0 8px;
	}
	.new-user-text {
		font-size: 1.2rem;
	}
	.change-tmpl {
		margin: 0 20px;
	}
}
@media screen and (min-width: 320px) and (max-width: 360px) {
	.settings-form-label {
		font-size: 0.9rem;
	}
}
@media screen and (min-width: 320px) and (max-width: 320px) {
	.beta-warning {
		font-size: 1rem;
	}
}