body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #343534;
}
input,ul, h1 {
	margin: 0;
	padding: 0;
}
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
a {
	text-decoration: none;
	color: #343534;
}
.wrap {}
.sidebar {
	width: 103px;
	height: 100%;
	float: left;
	position: fixed;
	border-right: solid 1px #f0eff1;
	background: #fafafa;
	overflow: scroll;
}
.home-button {
	width: 103px;
	height: 50px;
	position: fixed;
	text-align: center;
	font-size: 1.2rem;
	line-height: 50px;
	color: #faa1a1;
	border-bottom: solid 1px #f0eff1;
	background: #fff;
	cursor: pointer;
	z-index: 1;
}
.groups-wrap {
	min-height: 1px;
	margin-top: 51px;
}
.group {
	width: 100%;
	height: 100px;
	position: relative;
	font-weight: 300;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
}
.group-box {
	position: relative;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.scale {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.group-add {
	width: 90px;
	height: 90px;
	margin: 10px auto 15px;
	color: #e0e0e0;
	font-size: 0.9rem;
	text-align: center;
	line-height: 90px;
	border: dashed 2px #e0e0e0;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.group-add:hover {
	color: #cbcdcd;
	border: dashed 2px #cbcdcd;
}
.bookmarks-group-nav {
	width: 75%;
	height: 75px;
	float: left;
}
.bookmarks-group-count {
	float: left;
	padding: 5px;
}
.bookmarks-group-actions {
	width: 25%;
	height: 75px;
	float: left;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.bookmarks-group-delete {
	padding: 0 5px;
	float: right;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.65);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.bookmarks-group-delete:hover {
	color: #666;
	background: rgba(255, 255, 255, 0.8);
}
.bookmarks-group-color-palette {
	width: 100%;
	height: 0;
	overflow: hidden;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.drawer-open {
	height: 50px;
}
.bookmarks-group-color {
	width: 25%;
	height: 25px;
	display: block;
	float: left;
}
.toggle-palette {
	width: 17px;
	height: 17px;
	float: right;
	margin: 32px 4px 0 0;
}
.palette-color-red {
	background: #EB4040;
}
.palette-color-green {
	background: #4ABB3E;
}
.palette-color-black {
	background: #343534;
}
.palette-color-lightblue {
	background: #33A3C0;
}
.palette-color-brown {
	background: #863825;
}
.palette-color-blue {
	background: #3E45BB;
}
.palette-color-orange {
	background: #eb6d20;
}
.palette-color-grey {
	background: #A3A3A3;
}
.group:hover .bookmarks-group-actions {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.dragover {
	opacity: 0.6;
}
.bookmarks-group-name {
	width: 100%;
	height: 17px;
	padding: 4px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 0.9rem;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
}
.content {
	margin-left: 104px;
	overflow: hidden;
}
.content-header {
	width: 100%;
	position: fixed;
	z-index: 1;
	background: #fff;
	border-bottom: solid 1px #f0eff1;
	overflow: hidden;
}
.input-search {
	width: 56%;
	height: 50px;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	font-weight: 300;
	color: #A9ABBE;
	text-indent: 8px;
	background: #fff;
	border: 0;
	outline: 0;
	border-right: solid 1px #F0EFF1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content-actions-block {
	width: 36%;
	height: 50px;
	float: left;
}
.content-actions-button {
	background: #f8f8f8;
	border: solid 1px #E5E6E8;
	border-radius: 2px;
	cursor: pointer;
}
.with-icon {
	display: block;
	width: 46px;
	height: 30px;
	float: left;
	margin: 10px 0 10px 30px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 13px 5px;	
}
.starred {
	background-image: url(http://markedbyme.appspot.com/static/images/grey-star.png);
}
.yellow-star {
	background-image: url(http://markedbyme.appspot.com/static/images/yellow-star.png);
}
#settings {
	background-image: url(http://markedbyme.appspot.com/static/images/cog.png);
}
.content-actions-view-settings {
	width: 132px;
	float: left;
	margin: 10px 0 10px 30px;
}
.change-view-button {
	display: block;
	width: 40px;
	height: 30px;
	float: left;
	padding: 0 2px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 10px 5px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
#list {
	background-image: url(http://markedbyme.appspot.com/static/images/list.png);
}
#list:hover {
	background-color: #fff;
}
#list-icons {
	cursor: not-allowed;
	opacity: 0.4;
	background-image: url(http://markedbyme.appspot.com/static/images/list-icons.png);
}
#grid {
	cursor: not-allowed;
	opacity: 0.4;
	background-image: url(http://markedbyme.appspot.com/static/images/grid.png);
}
#sign-out {
	float: right;
	margin: 10px 30px 10px 30px;
	padding: 0 10px;
	font-weight: 300;
	line-height: 30px;
	color: #cbcccc;
}
.bookmarks-section {
	width: 100%;
	margin-top: 51px;
}
.bookmarks-list {
	width: 100%;
	list-style: none;
}
.bookmark {
	position: relative;
	height: 40px;
	font-size: 0.9rem;
	line-height: 40px;
	background: #fff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.select-bookmark {
	display: block;
	width: 20px;
	height: 40px;
	float: left;
	cursor:grab;
	cursor:-moz-grab;
	cursor:-webkit-grab;
	background-repeat: no-repeat;
	background-size: 20px 40px;
}
.being-moved {
	opacity: 0.4;
}
.bookmark:hover .select-bookmark {
	background-image: url(http://markedbyme.appspot.com/static/images/dots.png);
}
.bookmark-star {
	display: block;
	width: 20px;
	height: 20px;
	margin: 10px 0 10px 7px;
	float: left;
	background-size: 20px;
	background-image: url(http://markedbyme.appspot.com/static/images/not-starred.png);
	cursor: pointer;
}
.bookmark-starred {
	background-image: url(http://markedbyme.appspot.com/static/images/starred.png);
}
.bookmark-val-block {
	width: 34%;
	height: 40px;
	margin-right: 1%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bookmark-title {
	margin-left: 12px;
}
.bookmark-url {}
#tags-block {
	width: 30%;
	margin-right: 0;
}
.add-tag {
	margin: 0 2% 0 0;
	float: left;
	font-size: 1rem;
	font-weight: 300;
	cursor: pointer;
	color: #fff;
}
.bookmark-tags-wrap {
	display: inline-block;
}
.bookmark-tags {
	height: 20px;
	padding: 1px 5px;
	margin: 8px 0;
	display: inline-block;
	float: left;
	font-size: 0.7rem;
	line-height: 20px;
    border: solid 1px #CBCBCB;
	background: #FFF;
	cursor: default;
}
.bookmark-tags:hover {
	background: #FAFAFA;
}
.bookmark-tags-wrap:hover .tag-delete {
	display: inline-block;
}
.tag-delete {
	height: 24px;
	padding: 0 3px;
	margin: 8px 0;
	float: left;
	line-height: 20px;
	color: #fff;
	background: #FF7474;
	cursor: pointer;
	display: none;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.tag-delete:hover {
	background: #FF5757;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.bookmark:hover .add-tag {
	color: #343534;
}
.bookmark-delete {
	height: 20px;
	margin: 10px 12px 10px 0;
	padding: 0 5px;
	float: right;
	line-height: 20px;
	border-radius: 2px;
	border: solid 1px transparent;
	cursor: pointer;
	-webkit-transition: 0.2s;
	transiton: 0.2s;
	display: none;
}
.bookmark:hover .bookmark-delete {
	display: block;
	color: #d5d4d5;
}
.bookmark-delete:hover {
	border: solid 1px #DFDFDF;
}
.hidden {
	display: none;
}
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
	outline: 0;
	text-decoration: underline;
}
.settings-block {
	position: fixed;
	width: 400px;
	height: 600px;
	right: 0;
	top: 50px;
	background: #fff;
	border: solid 1px #E6E6E6;
	z-index: 1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.settings-hidden {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
.settings-visible {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.settings-header {
	padding: 5px 0;
	font-size: 1.2rem;
	color: #fff;
	font-weight: 400;
	text-align: center;
	background: #DB4A39;
}
.settings-form-section {
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
}
.settings-form-label {
	width: 30%;
	margin-left: 3%;
	float: left;
	line-height: 23px;
	font-family: 'Roboto', sans-serif;
}
.settings-form-input {
	width: 60%;
	height: 23px;
	margin-right: 3%;
	float: right;
	font-size: 1rem;
	text-indent: 5px;
	border: solid 2px #A7A7A7;;
	outline: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.settings-form-input:focus {
	border: solid 2px #343534;
}
.settings-form-checkbox {

}
.settings-form-button {
	width: 140px;
	padding: 5px;
	font-size: 1rem;
	border: 0;
	cursor: pointer;
}
.apply-settings {
	margin: 10px 0 0 35px;
	float: left;
	color: #fff;
	background: #26C940;
	border: solid 2px #09B909;
}
.cancel-settings {
	margin: 10px 35px 0 0;
	float: right;
	color: #343534;
	background: #fff;
	border: solid 2px #E4E4E4;
}