<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet'>
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
	<title>Bookmarko 0.1 | Manage your bookmarks with style</title>
</head>
<body>
	<div class="page-not-found-wrap">
		<h1 class="page-not-found-first-header"><span class="oops">OOOPS . . .</span> PLEASE DON'T BOOKMARK THIS PAGE :)</h1>
		<h1 class="page-not-found-second-header">404</h1>
		<p class="page-not-found-text">It seems that you are looking for a page that doesn't exists, or some error occured.
		If you see this often please <a class="support-link" href="#">say it loud.</a></p>
		<h3 class="page-not-found-third-header">Since we already lost your time,  let us show you some statistics</h3>
		<div class="saved-today">
			<h1 class="saved-today-header">Bookmarks saved today</h1>
			<span class="saved-today-count">43</span>
		</div>
		<div class="most-saved">
			<h1 class="most-saved-header">Most saved page today</h1>
			<span class="most-saved-title"> Apple - iOS 7</span>
		</div>
		<span class="page-not-found-button" id="button-left">I want to go back</span>
		<a class="page-not-found-button" id="button-right" href="http://markedbyme.appspot.com/">Take me to the homepage</a>
	</div>
<script type="text/javascript">
	document.getElementById('button-left').addEventListener('click', function() {
		window.history.back()
	});
</script>
</body>
</html>