	{% include "header.html" %}
	<div class="about-wrap">
		<section class="about-section top-section">
			<img class="about-logo" src="{{ STATIC_URL }}images/about-logo.png" width="100" height="100" alt="Bookmarko">
			<h1 class="about-top-header">About Bookmarko</h1>
			<p class="about-text">
				If you live in the internet, you will often find an interesting sites that you want to save somewhere and visit them later, without the need to remember their address.</p>
			<p class="about-text">
				Maybe in the most use cases people are saving their sites using the bookmarks manager of their favourite browser, or great services like kippt, delicious and other. And maybe there are some people like me that are using their email for these things and this is the worst of all.</p>
			<p class="about-text">
				But Most browsers don't offer good experience for managing bookmarks without some extension ( Opera and Safari are doing some good work though ), and the other services i tried are focusing too much on social features, or recommending me more sites that i don't need.</p>
			<p class="about-text">
				This is where Bookmarko is trying to step up. Focusing just on your content, trying to ease the process of saving, managing, and finding the sites you saved.</p>
		</section>
		<section class="about-section">
			<article class="about-article">
				<h1 class="about-article-header">What's next?</h1>
				<p>Bookmarko will be in a long period of beta until the site is stable, and i add all the features that i think are important for good user experience.</p>
			</article>
			<article class="about-article" id="about-article-right">
				<h1 class="about-article-header">What's the goal</h1>
				<p>I want to offer an alternative to the current ways of saving bookmarks - focusing on content, simple interface and useful features.</p>
			</article>
		</section>
		<section class="about-section" id="last">
			<img class="dr" src="{{ STATIC_URL }}images/dr.png" width="120" height="120" alt="Dimitar Ralev">
			<article class="behind">
				<h1 class="about-article-header">Who is behind it</h1>
				<p>My name is Dimitar Ralev and I made Bookmarko. This is a side ( but very serious ) project which I had as an idea at the time when I was looking to make some big project to exercise my programming skills, and learn something new. To find some inside stories about the project and how was built, <a class="case-study-link" href="http://dimitarralev.net/behind/bookmarko" target="_blank">check the case study I've wrote on my portfolio.</a></p>
			</article>
		</section>
	</div>
	{% include "footer.html" %}