<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,100|Open+Sans:400,300|Lora' rel='stylesheet'>
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
	<link rel="icon" type="image/ico" href="{{ STATIC_URL }}images/favicon.ico"></link> 
	<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
	<![endif]-->
	<title>Bookmarko Beta - Manage your bookmarks with style</title>
</head>
<body>
	<div id="not-supported">
		<h2 class="colorful-header">This is something hard to say but . . .</h2>
		<h1 class="not-supported-header">Your browser is not supported</h1>
		<p class="not-supported-text">Bookmarko was built with some of the latest technologies for better user experience, but your browser doesn't support them.
		</p>
		<p class="not-supported-text">This is not a big problem at all, you can update your browser, or you can try to use something new.</p>
		<div class="browsers-box">
			<a class="browser-icons" id="chrome" href="//google.com/intl/en/chrome/browser/"></a>
			<a class="browser-icons" id="firefox" href="//www.mozilla.org/en-US/firefox/"></a>
			<a class="browser-icons" id="opera" href="//opera.com/"></a>
		</div>
		<a class="not-supported-buttons" id="update-link"  href="//windows.microsoft.com/en-us/internet-explorer/download-ie" >I want to update my browser</a>
		<span class="not-supported-buttons" id="continue-button">Continue</span>
	</div>
	<header class="header">
		<a href="/"><img class="logo" width="144" height="40" src="{{ STATIC_URL }}images/logo_example.png"></a>
		<nav class="nav-block">
			<ul class="menu">
				<li class="menu-item" id="form-toggle">Sign In</li>
				<li class="menu-item"><a href="/">Features</a></li>
				<li class="menu-item"><a href="about">About</a></li>
				<li class="menu-item"><a href="blog">Blog</a></li>
			</ul>
		</nav>
	</header>

	<div class="about-wrap">
		<section class="about-section">
			<img class="about-logo" src="{{ STATIC_URL }}images/about-logo.png">
			<h1 class="about-top-header">About Bookmarko</h1>
			<p class="about-text">
				If you live in the internet, you will often find an interesting sites that you want to save somewhere and visit them later, without the need to remember their address.</p>
			<p class="about-text">
				Maybe in the most use cases people are saving their sites using the bookmarks manager of their favourite browser, or great services like kippt, delicious and other. And maybe there are some people like me that are using their email for these things and this is the worst of all.</p>
			<p class="about-text">
				But Most browsers don't offer good experience for managing bookmarks without some extension ( Opera and Safari are doing some good work though ), and the other services i tried are focusing too much on social features, or recommending me more sites that i don't need.</p>
			<p class="about-text">
				This is where Bookmarko is trying to step up. Focusing just on your content, trying to ease the process of saving, managing, and finding the sites you saved.</p>
			</p>
		</section>
		<section class="about-section">
			<article class="about-article">
				<h1 class="about-article-header">What's next?</h1>
				<p>Bookmarko will be in a long period of beta until the site is stable, and i add all the features that i think are important for good user experience.</p>
			</article>
			<article class="about-article" id="about-article-right">
				<h1 class="about-article-header">What's the goal</h1>
				<p>I want to offer an alternative to the current ways of saving bookmarks - focusing on content, simple interface and useful features.</p>
			</article>
		</section>
		<section class="about-section" id="last">
			<img class="dr" src="{{ STATIC_URL }}images/dr.png">
			<article class="behind">
				<h1 class="about-article-header">Who is behind it</h1>
				<p>My name is Dimitar Ralev and I made Bookmarko. This is a side ( but very serious ) project which I had as an idea at the time when I was looking to make some big project to exercise my programming skills, and learn something new. To find some inside stories about the project and how was built, check the case study I've wrote on my portfolio.</p>
			</article>
		</section>
	</div>

	


	<footer class="footer">
		<ul class="footer-links">
			<li class="footer-links-item"><a href="about">About</a></li>
			<li class="footer-links-item"><a href="blog">Blog</a></li>
			<li class="footer-links-item">Terms</li>
			<li class="footer-links-item">Privacy</li>
			<li class="footer-links-item"><a href="mailto:hey@hey.hey">Contact</a></li>
			<li class="footer-links-item"><a href="//twitter.com/bookmarko">@bookmarko</a></li>
		</ul>
		<span id="baker">Bookmarko is baked by <a id="portf" href="//dimitarralev.net" target="_blank">me</a> in BS, Bulgaria</span>
	</footer>
	<div class="terms-block">
		<span id="terms-close-button">X</span>
		<h1 class="terms-top-header">Bookmarko Terms and Conditions ("Agreement")</h1>
		<p>This Agreement was last modified on September 10, 2013.</p>

		<p>Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using bookmarkoapp.com ("the Site") operated by Bookmarko ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at bookmarkoapp.com.</p>
		<p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions. Capitalized terms are defined in this Agreement.</p>

		<h4 class="terms-header">Intellectual Property</h4>
		<p>The Site and its original content, features and functionality are owned by Bookmarko and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

		<h4 class="terms-header">Termination</h4>
		<p>We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

		<h4 class="terms-header">Links To Other Sites</h4>
		<p>Our Site may contain links to third-party sites that are not owned or controlled by Bookmarko.</p>
		Bookmarko has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

		<h4 class="terms-header">Governing Law</h4>
		<p>This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Bulgaria, without giving effect to any principles of conflicts of law.</p>

		<h4 class="terms-header">Changes To This Agreement</h4>
		<p>We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms and Conditions.</p>
		<p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>

		<h4 class="terms-header">Contact Us</h4>
		<p>If you have any questions about this Agreement, please contact us.</p>
		<p style="font-size: 85%; color: #999;">Published and generated with permission from <a href="http://termsfeed.com/terms-conditions/generator/" style="color: #999; text-decoration: none;">www.termsfeed.com</a>.</p>
	</div>
	<div class="terms-block">
		<span id="privacy-close-button">X</span>
		<h1 class="terms-top-header">Bookmarko Privacy Policy</h1>
		<p>This Privacy Policy was last modified on September 10, 2013.</p>

		<p>Bookmarko ("us", "we", or "our") operates bookmarkoapp.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
		<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at bookmarkoapp.com.</p>

		<h4 class="terms-header">Information Collection And Use</h4>
		<p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address and phone number ("Personal Information").</p>

		<h4 class="terms-header">Log Data</h4>
		<p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

		<h4 class="terms-header">Cookies</h4>
		<p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
		<p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>

		<h4 class="terms-header">Security</h4>
		<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

		<h4 class="terms-header">Links To Other Sites</h4>
		<p>Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
		<p>Bookmarko has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.</p>

		<h4 class="terms-header">Changes To This Privacy Policy</h4>
		<p>Bookmarko may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.</p>

		<h4 class="terms-header">Contact Us</h4>
		<p>If you have any questions about this Privacy Policy, please contact us.</p>
		<p><a href="http://termsfeed.com/privacy-policy/generator/" title="TermsFeed"><img src="http://termsfeed.com/seals/ts-pp-authenticity.png" alt="TermsFeed" /></a></p>
	</div>
<script src="{{ STATIC_URL }}js/index.js"></script>
</body>
</html>