<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,100|Open+Sans:400,300' rel='stylesheet'>
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
	<title>Bookmarko 0.1 | Manage your bookmarks with style</title>
</head>
<body>
	<header class="header">
		<img class="logo" width="144" height="40" src="{{ STATIC_URL }}images/logo_example.png">
		<nav class="nav-block">
			<ul class="menu">
				<li class="menu-item" id="form-toggle">Sign In</li>
				<li class="menu-item" id="features-scroll">Features</li>
				<li class="menu-item">About</li>
				<li class="menu-item">Blog</li>
			</ul>
		</nav>
	</header>
	<section class="sign-section">
			<h1 class="sign-header">Bookmark management made easy</h1>
			<div class="sign-up-block">
				<form class="sign-form" id="sign-up" method="POST" action="register_user">{% csrf_token %}
					<input class="form-input" id="id_username" type="email" name="username" placeholder="Email address" maxlength="50" required>
					<input class="form-input" id="id_password1" type="password" name="password1" placeholder="Password" required>
					<input class="form-input" id="id_password2" type="password" name="password2" placeholder="Password" required>
					<input class="form-submit" type="submit" value="Sign Up">
				</form>
				<form class="sign-form form-hide-right" id="sign-in" type="POST" action="login_user">{% csrf_token %}
					<input class="form-input" type="email" name="username" id="username" placeholder="Email address">
					<input class="form-input" type="password" name="password" id="password" placeholder="Password">
					<input class="form-submit" id="sign-in-submit" type="submit" value="Login">
				</form>
			</div>
	</section>
	<div class="features-wrap">
		<h1 class="features-top-header">Get excited about bookmarking</h1>
		<section class="features-block">
			<article class="feature">
				<h1 class="feature-title" id="title-top-left">Easy to use interface</h1>
				<img class="feature-image-left" width="141" height="141" src="{{ STATIC_URL }}images/feature-img1.png">
				<img class="feature-image-right" width="141" height="141" src="{{ STATIC_URL }}images/feature-img2.png">
				<p class="feature-text">The interface is simple, it uses some design principles from mail clients. You can create groups and move bookmarks to them with drag and drop. Managing your saved sites happens with just a couple of clicks.</p>
			</article>
			<article class="feature">
				<h1 class="feature-title" id="title-top-right">Quick search and tags</h1>
				<img class="feature-image-left" width="141" height="141" src="{{ STATIC_URL }}images/feature-img3.png">
				<img class="feature-image-right" width="141" height="141" src="{{ STATIC_URL }}images/feature-img4.png">
				<p class="feature-text">Finding the site that you saved months before is a joy. The search bar offers fast and smart way to look through your collection. You can also tag bookmarks with keywords for better search experience.</p>
			</article>
			<article class="feature">
				<h1 class="feature-title" id="title-bottom-left">Multiple ways to view your saved sites</h1>
				<img class="feature-view-image" width="110" height="110" src="{{ STATIC_URL }}images/feature-list.png">
				<img class="feature-view-image" width="110" height="110" src="{{ STATIC_URL }}images/feature-list-icons.png">
				<img class="feature-view-image" width="110" height="110" src="{{ STATIC_URL }}images/feature-grid.png">
				<p class="feature-text">Manage your content in the way that suits you best. You can choose between three views, and every one has it's own advantage. The third view shows some information about the saved sites, and presents them in a nice grid.</p>
			</article>
			<article class="feature">
				<h1 class="feature-title" id="title-bottom-right">Optimized for most devices</h1>
				<img class="feature-image" id="devices" width="302" height="141" src="{{ STATIC_URL }}images/feature-img5.png">				
				<p class="feature-text">Bookmarko was made with responsive design in mind. It was build to support wide range of devices. The site is optimized for touch input, so you can access and use it from your mobile device.</p>
			</article>
		</section>
		<section class="bottom-features-block">
			<article class="bottom-feature">
				<div class="bottom-feature-circle" id="feature-beta-circle">
					<span id="feature-beta-span">Beta</span>
				</div>
				<p class="bottom-feature-text">Bookmarko is still in beta and will be a always developing project. There are still many things to come.</p>
			</article>
			<article class="bottom-feature">
				<div class="bottom-feature-circle" id="feature-cloud-circle">
					<img id="feature-cloud-img" width="100" height="60" src="{{ STATIC_URL }}images/feature-cloud.png">
				</div>
				<p class="bottom-feature-text">The site is using Google App Engine for back-end, which offers us scalability and other cool things.</p>
			</article>
			<article class="bottom-feature">
				<div class="bottom-feature-circle">
				</div>
				<p class="bottom-feature-text">Chupa chups topping lollipop tootsie roll dragée halvah. Choc cake pudding soufflé. Sweet pudding jujubes dragée.</p>
			</article>
		</section>
	</div>
	<footer class="footer">
		<span id="baker">Bookmarko is baked by <a id="portf" href="//dimitarralev.net" target="_blank">me</a> in BS, Bulgaria</span>
	</footer>
<script src="{{ STATIC_URL }}libraries/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}js/index.js"></script>
</body>
</html>