	{% include "header.html" %}
	<section class="sign-section">
			<div class="sign-up-block">
				<h2 class="sign-up-heading">Sign up for the early beta.</h2>
				<div class="toggle-forms">
					<span class="toggle-form-button" id="up">Sign Up</span>
					<span class="toggle-form-button" id="in">Sign In</span>
				</div>
				<div class="forms-block">
					<form class="sign-form" id="sign-up">{% csrf_token %}
						<input class="form-input" id="reg-user" type="email" name="username" placeholder="Email address" maxlength="50" required>
						<input class="form-input" id="reg-pass" type="password" name="password1" placeholder="Password" required>
						<input class="form-input" id="reg-confirm-pass" type="password" name="password2" placeholder="Confirm password" required>
						<input class="form-submit" type="submit" value="Sign Up">
						<span class="progress">_</span>
					</form>
					<form class="sign-form form-hide" id="sign-in">{% csrf_token %}
						<input class="form-input" id="log-user" type="email" name="username" placeholder="Email address">
						<input class="form-input" id="log-pass" type="password" name="password" placeholder="Password">
						<input class="form-submit" id="sign-in-submit" type="submit" value="Sign In">
						<span class="progress">_</span>
						<span class="forgotten-password">Forgotten password</span>
					</form>
					<div class="forg-pass-block">
						<div class="send-mail-success">
							<h1 class="send-mail-headings">Thank you!</h1>
							<h4 class="send-mail-headings">You will recieve email in a few minutes.</h4>
						</div>
						<h2 class="forg-pass-header">Fill your email to receive a new password</h2>
						<input class="forg-pass-email" type="email">
						<input class="forg-pass-send" type="button" value="Confirm">
					</div>
				</div>
			</div>
	</section>
	<div class="features-wrap">
		<h1 class="features-top-header">Keep your bookmarks in the cloud</h1>
		<div class="features-column">
				<div class="feature-block">
					<img class="feature-img" src="{{ STATIC_URL }}images/cloud.png" alt="">
					<p class="feature-text">Step out of the browser and keep your bookmarks in the cloud.</p>
				</div>
				<div class="feature-block">
					<img class="feature-img" src="{{ STATIC_URL }}images/collections.png" alt="">
					<p class="feature-text">Use collections to manage your bookmarks more easily.</p>
				</div>
				<div class="feature-block">
					<img class="feature-img" src="{{ STATIC_URL }}images/lighting.png" alt="">
					<p class="feature-text">Responsive web app built with the need for speed.</p>
				</div>
				<div class="feature-block">
					<img class="feature-img" src="{{ STATIC_URL }}images/responsive.png" alt="">
					<p class="feature-text">Made with responsive design in mind, so you can access and use it from your mobile device.</p>
				</div>
				<div class="feature-block">
					<img class="feature-img" src="{{ STATIC_URL }}images/beta.png" alt="">
					<p class="feature-text">Bookmarko is still in beta and will be a always developing project. There are still many things to come.</p>
				</div>
				<div class="feature-block">
					<img class="feature-img" src="{{ STATIC_URL }}images/gae.png" alt="">
					<p class="feature-text">The site is using Google App Engine, which offers us scalability and other cool things.</p>
				</div>
		</div>
	</div>
	{% include "footer.html" %}