<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300|Open+Sans:400,300' rel='stylesheet'>
	<link rel="icon" type="image/ico" href="{{ STATIC_URL }}images/favicon.ico"></link> 
	<link href="{{ STATIC_URL }}css/user.css" rel="stylesheet">	
	<title>Bookmarko Beta - Manage your bookmarks with style</title>
</head>
<body>
	<div class="wrap">
		<div class="settings-block settings-hidden">
			<h1 class="settings-header">Settings</h1>
			<form action="user-settings-form">
				<h2 class="settings-type">App preferences</h2>
				<div class="settings-form-section">
					<label class="settings-form-label label-medium" for="testda">Order collections</label>
					<select class="settings-form-select">
						<option class="settings-form-option" value="title">By name</option>
						<option class="settings-form-option" value="date">By date created</option>
						<option class="settings-form-option" value="size">By size</option>
					</select>
				</div>
				<h2 class="settings-type">Account</h2>
				<div class="settings-form-section">
					<label class="settings-form-label" for="testda">New password</label>
					<input class="settings-form-input" type="text" name="testda">
				</div>
				<h2 class="settings-type">Data</h2>
				<div class="settings-form-section">
					<label class="settings-form-label label-medium" for="testda">Import bookmarks</label>
					<input class="settings-import-button" type="file" value="Select file">
				</div>
			</form>
		</div>
		<div class="sidebar">
				<div class="home-wrap">
					<img class="home-button" src="{{ STATIC_URL }}images/home.png">
					<span class="search-icon"></span>
				</div>
				<div class="groups-wrap"></div>
				<div class="group-add"><span>New Group</span></div>
		</div>
		<div class="content">
			<div class="content-header">
				<input type="text" class="input-search" placeholder="Search . . .">
				<div class="content-actions-block">
					<span class="content-actions-button with-icon starred" data-pressed="no"></span>
					<div class="content-actions-button content-actions-view-settings">
						<span class="change-view-button" id="list"></span>
						<span class="change-view-button" id="grid"></span>
					</div>
					<span class="content-actions-button with-icon" id="settings"></span>
					<a href="logout_user" class="content-actions-button" id="sign-out">Sign out</a>
				</div>
			</div>
			<div class="bookmarks-section">
				<ul class="bookmarks-list"></ul>
			</div>
		</div>
	</div>


	<script type="text/template" id="list-template">
	<div class="lst-bookmark-val-block">
		<span class="select-bookmark lst-select-bookmark"></span>
		<span class="bookmark-star lst-bookmark-star <%= starred ? 'bookmark-starred' : '' %>"></span>
		<div class="bookmark-menu-wrap lst-bookmark-menu-wrap">
			<div class="bookmark-menu-line lst-bookmark-menu-line"></div>
			<div class="bookmark-menu-line lst-bookmark-menu-line"></div>
			<div class="bookmark-menu-line lst-bookmark-menu-line"></div>
		</div>
		<div class="bookmark-menu lst-bookmark-menu">
			<ul class="bookmark-menu-list">
				<li class="bookmark-menu-list-item edit-title">Rename Title</li>
				<li class="bookmark-menu-list-item copy-link">Copy Link</li>
			</ul>
		</div>
		<span class="bookmark-title lst-bookmark-title" title="<%= title %>"><%= title %></span>
	</div>
	<div class="lst-bookmark-val-block">
		<a class="lst-bookmark-url" href="<%= url %>" target="_blank"><%= url %></a>
	</div>	
	<div class="lst-bookmark-val-block" id="tags-block">
		<span class="add-tag" title="Add new tag">+</span>
		<% if (tag) { %>
			<div class="bookmark-tags-wrap">
				<span class="bookmark-tags"> <%= tag %> </span>
				<span class="tag-delete">x</span>
			</div>
		<% } %>
		<span class="bookmark-delete lst-bookmark-delete">X</span>
	</div>
	</script>


	<script type="text/template" id="grid-template">
		<span class="select-bookmark grd-select-bookmark"></span>
		<a class="grd-bookmark-link" href="<%= url %>" target="_blank">
		<% if ( image ) {%>
			<img class="grd-bookmark-image" src="<%= image %>">
		<% } else {%>
			<h2 class="grd-bookmark-title-big"><%= title %></h2>
			<p class="grd-bookmark-descr"><%= description %></p>
		<% } %>
		</a>
		<div class="grd-bookmark-content
		 <% if ( image ) {%> 
			grd-bookmark-content-w-title
			<%} else {%>
			grd-bookmark-content-wo-title
			<%}%> "
		>
			<% if ( image ) {%>
			<span class="bookmark-title grd-bookmark-title" title="<%= title %>"><%= title %></span>
			<% } %>
			<div class="grd-bookmark-settings">
				<div class="bookmark-menu-wrap grd-bookmark-menu-wrap">
					<div class="bookmark-menu-line grd-bookmark-menu-line"></div>
					<div class="bookmark-menu-line grd-bookmark-menu-line"></div>
					<div class="bookmark-menu-line grd-bookmark-menu-line"></div>
				</div>
				<div class="bookmark-menu grd-bookmark-menu">
					<ul class="bookmark-menu-list">
						<li class="bookmark-menu-list-item edit-title">Rename Title</li>
						<li class="bookmark-menu-list-item copy-link">Copy Link</li>
					</ul>
				</div>
				<span class="bookmark-star grd-bookmark-star <%= starred ? 'bookmark-starred' : '' %>"></span>
				<span class="bookmark-delete grd-bookmark-delete"></span>
			</div>
		</div>
	</script>


	<script type="text/template" id="group-template">
		<div class="group">
			<div class="bookmarks-group-nav">
				<span class="bookmarks-group-count"><%- this.model.bookmarkCollections.length %></span>
			</div>
			<div class="bookmarks-group-actions">
				<span class="bookmarks-group-delete">X</span>
				<img class="toggle-palette" src="{{ STATIC_URL }}images/toggle_palette.png">
			</div>
			<span class="bookmarks-group-name" contenteditable="true"><%= title %></span>
		</div>
		<div class="bookmarks-group-color-palette">
			<span class="bookmarks-group-color palette-color-red"></span>
			<span class="bookmarks-group-color palette-color-green"></span>
			<span class="bookmarks-group-color palette-color-black"></span>
			<span class="bookmarks-group-color palette-color-lightblue"></span>
			<span class="bookmarks-group-color palette-color-brown"></span>
			<span class="bookmarks-group-color palette-color-blue"></span>
			<span class="bookmarks-group-color palette-color-orange"></span>
			<span class="bookmarks-group-color palette-color-grey"></span>
		</div>
	</script>

<script src="{{ STATIC_URL }}libraries/underscore-min.js"></script>
<script src="{{ STATIC_URL }}libraries/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}libraries/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
<script src="{{ STATIC_URL }}js/models/models.js"></script>
<script src="{{ STATIC_URL }}js/collections/collections.js"></script>
<script src="{{ STATIC_URL }}js/views/SidebarView.js"></script>
<script src="{{ STATIC_URL }}js/views/ContentView.js"></script>
<script src="{{ STATIC_URL }}js/routers/router.js"></script>
	<script>
		var json2 = '{{BookmarkCollections|escapejs}}'
		var parsons2 = JSON.parse(json2)
		globalBookmarkCollections.reset(parsons2)

	    var json = "{{bookmarks|escapejs}}"
		var parsons = JSON.parse(json)
		bookmarks.reset(parsons)
	</script>
</body>
</html>