<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300|Open+Sans:400,300' rel='stylesheet'>
	<link href="{{ STATIC_URL }}css/user.css" rel="stylesheet">	
	<title>Bookmarko 0.1 | Manage your bookmarks with style</title>
</head>
<body>
	<div class="wrap">
		<div class="sidebar">
			<div class="home-button"><span>Home</span></div>
		</div>
		<div class="content">
			<div class="content-header">
				<input type="text" class="input-search" placeholder="Search . . .">
				<div class="content-actions-block">
					<span class="content-actions-button with-icon" id="starred"></span>
					<div class="content-actions-button content-actions-view-settings">
						<span class="change-view-button" id="list"></span>
						<span class="change-view-button" id="list-icons"></span>
						<span class="change-view-button" id="grid"></span>
					</div>
					<span class="content-actions-button with-icon" id="settings"></span>
					<a href="logout_user" class="content-actions-button" id="sign-out">Sign out</a>
				</div>
			</div>
			<div class="bookmarks-section">
				<ul class="bookmarks-list"></ul>
			</div>
		</div>
	</div>
	<script type="text/template" id="bookmark-template">
	<div class="bookmark-val-block">
		<span class="select-bookmark" draggable="true"></span>
		<span class="bookmark-title" contenteditable="true" title="<%= title %>"><%= title %></span>
	</div>
	<div class="bookmark-val-block">
		<a class="bookmark-url" href="<%= url %>" target="_blank"><%= url %></a>
	</div>	
	<div class="bookmark-val-block" id="tags-block">
		<span class="bookmark-tags"> <%= tag %> </span>
		<span class="add-tag" title="Add new tag">+</span>
		<span class="bookmark-delete">X</span>
	</div>
	</script>
	<script type="text/template" id="group-template">
		<div class="group">
			<div class="bookmarks-group-nav">
				<span class="bookmarks-group-count"><%- this.model.bookmarkCollections.length %></span>
			</div>
			<div class="bookmarks-group-actions">
				<span class="bookmarks-group-delete">X</span>
				<img class="toggle-palette" src="{{ STATIC_URL }}images/toggle_palette.png">
			</div>
			<span class="bookmarks-group-name" contenteditable="true"><%= title %></span>
		</div>
		<div class="bookmarks-group-color-palette">
			<span class="bookmarks-group-color palette-color-red"></span>
			<span class="bookmarks-group-color palette-color-green"></span>
			<span class="bookmarks-group-color palette-color-black"></span>
			<span class="bookmarks-group-color palette-color-lightblue"></span>
			<span class="bookmarks-group-color palette-color-brown"></span>
			<span class="bookmarks-group-color palette-color-blue"></span>
			<span class="bookmarks-group-color palette-color-orange"></span>
			<span class="bookmarks-group-color palette-color-grey"></span>
		</div>
	</script>
<script src="{{ STATIC_URL }}libraries/underscore-min.js"></script>
<script src="{{ STATIC_URL }}libraries/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}libraries/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
<script src="{{ STATIC_URL }}js/models/models.js"></script>
<script src="{{ STATIC_URL }}js/collections/collections.js"></script>
<script src="{{ STATIC_URL }}js/views/SidebarView.js"></script>
<script src="{{ STATIC_URL }}js/views/ContentView.js"></script>
<script src="{{ STATIC_URL }}js/routers/router.js"></script>
</body>
</html>