<html>
<head>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet'>
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
	<title>Bookmarko 0.0.2</title>
</head>
<body>
	<div id="wrap">
		<div class="top-bar">
			<img class="logo" src="{{ STATIC_URL }}images/logo_example.png">
			<span>{{ user.username }}</span>
		</div>
		<div class="sidebar">
			<div class="group-add"><span>New Group</span></div>
		</div>
		<div class="content">
			<div class="content-control">
				<form id="form" action="">
					<input id="bookmark-input" type="text" placeholder="Search . . .">
				</form>
			</div>
			<div class="bookmarks-content">
				<ul class="bookmarks-list">
				</ul>
			</div>
		</div>
		<div class="footer"></div>	
	</div>
	<script type="text/template" id="bookmark-template">
		<span class="select-item" draggable="true"></span>
		<span class="bookmarks-item-title" contenteditable="true"><%- bookmark_title.substring(0,35)  %></span>
		<a class="bookmarks-item-url" href="<%= bookmark_url %>" target="_blank"><%= bookmark_url %></a>
		<span class="bookmarks-item-tags"><%= tags %></span>
		<span class="bookmarks-item-delete">X</span>
	</script>
	<script type="text/template" id="collection-template">
		<div class="bookmarks-group-control">
			<span class="bookmarks-group-count"><%- this.model.bookmarkCollections.length %></span>
			<span class="bookmarks-group-delete">X</span>
		</div>
		<span class="bookmarks-group-name" contenteditable="true"><%= collection_name %></span>
	</script>
<script src="{{ STATIC_URL }}libraries/underscore-min.js"></script>
<script src="{{ STATIC_URL }}libraries/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}libraries/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
<script src="{{ STATIC_URL }}js/models/models.js"></script>
<script src="{{ STATIC_URL }}js/routers/router.js"></script>
<script src="{{ STATIC_URL }}js/collections/collections.js"></script>
<script src="{{ STATIC_URL }}js/views/SidebarView.js"></script>
<script src="{{ STATIC_URL }}js/views/ContentView.js"></script>
</body>
</html>